/*********  Web Design
**********  2019FA.WEB.210.4101
**********  Nicolas D'Agata
**********  Lesson 07 - Assignment 01
**********  Kevin Morgan
**********  10/03/2019
*/
/* Background Galaxy Pic Palette
Pale Goldenrod #e7ceb2
Steel Blue #3f6b96
Indian Red #b7695d
Black #1a0d0e
Dark Olive Green #6e3738 */
/*----------------------------------------
        Global Settings 
----------------------------------------*/
* {
    margin: 0;
    padding: 0;
}
body {
    margin: 10px;
    background-image: url('../images/background_galaxy.jpg');
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
}
img {
    display: block;
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}
h1, h2, h3, h4 {
    margin: 0;
    padding: 1em 0;
}
.scsm {
    display: none;
}
/*----------------------------------------
        Header Settings 
----------------------------------------*/
header {
    background-color: #3f6b96;
    padding: 10px;
    color: #eee;
    border-radius: 10px;
}
/*header h1 {
    text-align: center;
    padding: 0;
}*/
header h2 {
    text-align: center;
}
header p {
    text-align: justify;
    padding-bottom: 10px;
}
header h1 {
    font-family: 'Rubik Mono One', sans-serif;
    font-weight: 700;
    font-size: 35px;
    color: white;
    margin: 0;
    padding: 35px 0 0 0;
 
 /*--------------------------------------
       Set Up the Font Animation
 --------------------------------------*/
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: 5;
 }
 
 /*--------------------------------------
       Animate the Name
 --------------------------------------*/
 /* Safari 4.0 - 8.0 */
 @-webkit-keyframes example {
    0%   {color: #ffffff;}
    20%  {color: #e5e5e5;}
    40%  {color: #7c7c7c;}
    60%  {color: #606060;}
    80%  {color: #7c7c7c;}
    100% {color: #e5e5e5;}
 }
 /* Standard syntax */
 @keyframes example {
    0%   {color: #ffffff;}
    20%  {color: #e5e5e5;}
    40%  {color: #7c7c7c;}
    60%  {color: #606060;}
    80%  {color: #7c7c7c;}
    100% {color: #e5e5e5;}
 }
/*----------------------------------------
        Navigation Settings 
----------------------------------------*/
nav li {
    text-align: center;
    list-style: none;
    background-color: #3f6b96;
    margin-top: 10px;
    border-radius: 10px;
}
nav li a {
    text-decoration: none;
    color: #e7ceb2;
}
/*----------------------------------------
        Experience Settings 
----------------------------------------*/
#experience {
    background-color: #e7ceb2;
    margin-top: 10px;
    padding: 10px;
    color: #000;
    border-radius: 10px;
}
#experience h2 {
    text-align: center;
    padding: 0;
}
#experience h3 {
    padding-bottom: 5px;
}
#experience .col-narrow {
    padding-bottom: 10px;
}
#experience .col-wide {
    padding-bottom: 20px;
}
#experience li {
    list-style-position: inside;
    padding-left: 4px;
}
/*----------------------------------------
        Education Settings 
----------------------------------------*/
#education {
    background-color: #b7695d;
    margin-top: 10px;
    padding: 10px;
    color: #000;
    border-radius: 10px;
}
#education h2 {
    text-align: center;
    padding: 0;
}
#education h3 {
    padding-bottom: 5px;
}
#education .col-narrow {
    padding-bottom: 10px;
}
#education .col-wide {
    padding-bottom: 20px;
}
#education li {
    list-style-position: inside;
    padding-left: 4px;
}
/*----------------------------------------
        Footer Settings 
----------------------------------------*/
footer {
    margin-top: 10px;
    background-color: #3f6b96;
    padding: 10px;
    color: #eee;
    border-radius: 10px;
}
footer h2 {
    text-align: center;
    padding: 0 0 0 5px;
    border-bottom: 2px solid white;
}
footer p {
    text-align: center;
}
footer a {
    text-decoration: none;
    color: white;
}

/*----------------------------------------
        Media Queries 
----------------------------------------*/
@media (min-width: 500px) {
    .container {
        max-width: 960px;
        margin-left: auto;
        margin-right: auto;
    }
    .sclg {
        display: none;
    }
    .card {
        background-color: red;
        border-bottom: 1px solid black;
    }
    .col-narrow {
        width: 30%;
        float: left;
        margin-right: 3%;
    }
    .col-wide {
        width: 65%;
        float: left;
    }
    header {
        height: 290px;
    }
    img {
        width: 100px;
        height: auto;
    }
    .card {
        clear: both;
    }
    #experience, 
    #education, 
    #footer {
        overflow: hidden;
    }
    .col-narrow h3 {
        padding-top: 0;
    }
/*--------------------------------------
      Navigation Section Styles
--------------------------------------*/
nav {
    background-color: #3f6b96;
    border-radius: 0 0 25px 25px;
 }
 nav a {
    text-decoration: none; /* turn off underline */
    color: #e7ceb2;
 }
 nav ul li:hover {
    background-color: #b7695d;
    color: #e7ceb2;
 }
 nav ul {
    list-style: none; /* turn off bullets */
    text-align: center;
    margin: 0;
    padding: 0;
 }
 nav ul li {
    font-weight: bold;
    display: inline-block; /* display horizontally */
    position: relative; /* allow submenus to display relative to menu */
    padding: 10px 15px;
 }
 nav ul li ul {
    left: -99999px;
    position: absolute;
    top: 44px; /* move submenu down to clear main menu */
 }
 ul li:hover ul {
    left: 0px; /* bring back submenu on screen */
 }
 ul li ul li {
    background-color: #3f6b96;
    width: 140%;
 
 }

}
/*.col-narrow {
    background-color: yellow;
}
.col-wide {
    background-color: green;
}*/
